@import "tailwindcss";

body {
  overflow: hidden;
  overscroll-behavior: none;
}

@theme {
  --color-yaleBlue: #03346a;
}

.yale-blue-bg {
  background-color: #03346a;
}

.yale-blue-text {
  color: #03346a;
}
