@import "tailwindcss";

body {
  overflow: hidden;
  overscroll-behavior: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

button {
  cursor: pointer;
}

@theme {
  --color-yaleBlue: #03346a;
}

.yale-blue-bg {
  background-color: #03346a;
}

.yale-blue-text {
  color: #03346a;
}
